//
// Mixins
//


// -------------------------------------------------------------
// # Media queries
// -------------------------------------------------------------

// @include bp(medium) { property: value; }
@mixin bp($point) {
    @if $point == small {
        @media (min-width: $bp-small) { @content; }
    }
    @else if $point == medium {
        @media (min-width: $bp-medium) { @content; }
    }
    @else if $point == large {
        @media (min-width: $bp-large) { @content; }
    }
}


// -------------------------------------------------------------
// # Clearfix
// -------------------------------------------------------------

// @include clearfix
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}
