//
// SETTINGS
//


// -------------------------------------------------------------
// # Layout
// -------------------------------------------------------------

$site-width-mobile:         96%;
$site-width-tablet:         88%;
$site-max-width:            1200px;

// Mobile first
$bp-small:                  481px;
$bp-medium:                 768px;
$bp-large:                  1140px;


// -------------------------------------------------------------
// # Typography
// -------------------------------------------------------------

// Fonts
$heading:                   'Montserrat', serif;
$paragraph:                 'Montserrat', sans-serif;

// Base
$font-size:                 1.6rem;
$line-height:               1.6;

// Other
$light:                     300;
$regular:                   400;
$bold:                      700;
$letter-spacing:            1px;


// -------------------------------------------------------------
// # Colors
// -------------------------------------------------------------

$logo:                      #222222;
$links:                     #222222;

$linkedin:                  #007bb5;
$avensia:                   #fdc300;
$mail:                      #d86565;
$simon:                     #b98a72;
$craftmade:                 #000000;
