//
// SETTINGS
//


// -------------------------------------------------------------
// # Layout
// -------------------------------------------------------------

$site-width-mobile:         96%;
$site-width-tablet:         88%;
$site-max-width:            1200px;

// Mobile first
$bp-medium:                 768px;
$bp-large:                  1140px;


// -------------------------------------------------------------
// # Typography
// -------------------------------------------------------------

// Fonts
$sans:                      "Helvetica-neue";
$serif:                     "Georgia";
$mono:                      "Monaco";

// Base
$font-size:                 1.6rem;
$line-height:               1.6;

// Other
$font-size--large:          $font-size + .4;
$font-size--small:          $font-size - .2;
$light:                     300;
$regular:                   400;
$bold:                      700;
$letter-spacing:            1px;


// -------------------------------------------------------------
// # Colors
// -------------------------------------------------------------

$black:                     #111111;
$grey:                      lighten($black, 35%);
$white:                     #ffffff;
$turqoise:                  #99C3B8;

$green:                     green;


// -------------------------------------------------------------
// # Layout
// -------------------------------------------------------------

$margin:               30px;
$padding:              30px;


// -------------------------------------------------------------
// # Grid
// -------------------------------------------------------------

$grid-base-col-width:       60 !default;
$grid-base-gutter-width:    50 !default;
$grid-cols:                 12 !default;


// -------------------------------------------------------------
// # Miscellaneous
// -------------------------------------------------------------

$radius:                    3px;