//
// BASE STYLES
//


// -------------------------------------------------------------
// # General
// -------------------------------------------------------------

// Include border and padding in width
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: $font-size;
    line-height: $line-height;
    height: 100%;
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

