extends layouts/master

block content
    
    .section-wrap

        .section-item.white
            
            <h1>Familj & Vänner...</h1>
                    
            <hr/>
            
            <p>Vi ska gifta oss!</p>
                
            <p>Lördagen den 20 Juni 2015 är det bröllop på vingården Le Fonti a San Giorgio i Toscana.</p>
            
            <p>På denna sida kommer ni hitta information om vingården, reseförslag och andra detaljer.<p>
            
            <p class="vi">/ Seyamak & Cecilia</p>
            
        .section-item.us
    
    .section-wrap
            
        .section-item.lefonti
            
            p hej igen
            
        .section-item.white
            
            h1 Boende

            p Le Fonti a San Giorgio är en vingård ca 3 mil sydväst om Firenze som ligger vackert på en kulle med utsikt över Toscana. Förutom att tillverka sitt eget vin så odlar de också mycket av vad som serveras på vingården.

            p Då Le Fonti ligger något isolerat mitt i Toscana har vi för enkelhetens skull sett till att även frukost och lunch är inkluderat i rumspriset (ca 150 Euro natten per dubbelrum).

            p Vi har reserverat boende för alla gästers räkning mellan den 18-21 Juni. För familjer med flera barn har det reserverats lägenheter, och för övriga har dubbelrum bokats, i båda fallen på vingården.

            <p>Skulle man önska stanna längre, eller komma tidigare bokas detta lättast direkt med Le Fonti, då de redan har era namn i bokningen.
            
            a(href="http://www.lefontiasangiorgio.it/florence_farm_holidays.php") Le Fonti's hemsida
            
            a(href="https://www.google.se/maps/place/Via+Colle+San+Lorenzo,+50025+Montespertoli+FI,+Italien/@43.6114035,11.0700496,1087m/data=!3m1!1e3!4m2!3m1!1s0x132a46c9c11bd6f5:0x57dad37b27c9ee80") Vingården på Google Maps